/*==========================================================
                Global Css
===========================================================*/

/* *, *::before, *::after {
    box-sizing: border-box;
} */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "sans-serif", Arial;
    font-size: 1rem;
    background-color: #fff;
    color: rgb(0, 0, 0)
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

section {
    /* background: #fff; */
    overflow: hidden;
}

.title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    border-bottom: 3px solid #ebbc00;
    display: inline;
    padding: 0.18rem;
}

.sub-title {
    font-size: 3rem;
    font-weight: 100;
    margin: 2rem 0;
}

/*==========================================================
                Custom Css
===========================================================*/

/* header area start */

.header {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.hero-header {}

.home-content {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.content-inner {
    margin: auto;
    text-align: center;
}

.content {
    color: #fff;
}

.content h3 {
    font-size: 1.3rem;
    margin-top: 32px;
    line-height: 2;
}

.content h3 span {
    background: #f1c40f;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.2s all linear;
}

.content:hover h3 span {
    background: #f39c12;
}

.content h1 {
    font-size: 4rem;
    font-weight: 600;
    padding: 0.3rem 0 0;
}

.content p {
    font-size: 1.2rem;
}

.content-btn {
    padding-top: 1.5rem;
}

.content-btn a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: 0.5s all cubic-bezier(.25, .46, .45, .94);
    transition: 0.5s all cubic-bezier(.25, .46, .45, .94);
}

.content-btn a i {
    color: #f1c40f;
    padding: 0 5px;
}

.content-btn a:hover {
    color: #f1c40f;
}

.mouse {}

.mouse-icon {
    width: 25px;
    height: 45px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -12.5px;
    border-radius: 12px;
}

.mouse-icon::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 100%;
    left: 50%;
    top: 10px;
    margin-left: -2.5px;
    /* -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-animation-name: rotateplane;
    -webkit-animation-duration: 2s;
    animation-name: rotateplane;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; */
}

/* find-project area Start */

.find-project {
    padding: 8rem 0;
}

.find-project-title {}

.find-project-title h4 {
    font-size: 1rem;
    border-bottom: 3px solid #e74c3c;
    display: inline;
    padding: 0.2rem;
}

.find-project-title h2 {
    padding: 2rem;
    font-weight: 100;
}

.find-card {
    display: flex;
    margin: 1rem 0;
    padding: 1rem 0;
}

.find-card-icon {}

.find-card-icon i {
    padding: 0 1.5rem 0 0;
    font-size: 3rem;
    color: #e74c3c;
}

.find-card-body {}

.find-card-body h3 {
    font-size: 1.5rem;
}

.find-card-body p {
    font-size: 1rem;
    color: #989d9d;
}

/* about area start */

.about {
    background: #ecf0f8;
    padding: 8rem 0;
}

.about-title {}

.about-title h5 {}

.about-title h3 {
    /*! margin: 1rem 0 4rem; */
}

.about-box {}

.about-card {
    transition: 0.3s all linear;
}

.about-card:hover .about-card-title i {
    color: #f1c40f;
}

.about-card-img {
    min-height: 260px;
}

.about-card-img img {
    border-radius: 5px 5px 0 0;
}

.about-card-title {
    padding-top: 2rem;
}

.about-card-title i {
    padding: 0 .5rem 0 0;
    font-size: 1.5rem;
    color: #2c3e50;
}

.about-card-title h3 {
    display: inline;
    font-size: 1.39rem;
}

.about-card-content {}

.about-card-content p {
    color: #989d9d;
}

.about-card-content a {
    color: #f1c40f;
    text-decoration: none;
    transition: 0.5s all linear;
}

.about-card-content a:hover {
    color: #2c3e50;
}

/* about area start */

.services {
    padding: 8rem 0;
    background: #f6fdff;
}
 
.services-title {}

.services-title h5 {}

.services-title h3 {}

.services-box {}

.services-card {}

.services-card-icon {}

.services-card-icon img {
    width: 75px;
    margin: 1.5rem 0;
}

.services-card-title {}

.services-card-title h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.services-card-content p {}

.services-card-content ul {
    list-style: none;
    font-weight: 400;
    padding: 0;
    margin: 1.9rem 0;
}  

.services-card-content ul li {}

.services-card-button {}

.services-card-button a i {
    position: absolute;
    right: 20px;
    top: 14px;
    display: none;
}

.services-card-button a {
    background: #090c1e;
    padding: 0.6rem 3rem;
    border-radius: 30px;
    color: #ffff;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.services-card-button a:hover i {display: inline-block;color: #fff;}

.services-card-button a:hover {
    padding: 0.6rem 3.5rem;
    color: #fff;
    background: #f1c40f;
}

/* example area start */

.example {}

.example-img img {}

.example-img {}

.example-title {}

.example-title h3 {}

.example-title p {}

.example-title a {}

.example-title a {}

/* our-work area start */

.our-work {}

.our-work-title {}

.our-work-title h4 {}

.our-work-title h2 {}

.our-work-slider {}

.our-work-card {}

.our-work-card-img {}

.our-work-card-img img {}

.our-work-card-content {}

.our-work-card-content a {}

.our-work-card-content a h3 {}

.our-work-card-content p {}

.our-work-card-footer {}

.our-work-card-footer i {}

.our-work-card-footer h5 {}

.price {}

.tag-line {}

/* banner area start */

.banner {}

.banner-title {}

.banner-title h2 {}

.banner-title p {}

.play-btn {}

.play-btn i {}

.play-btn h6 {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}

. {}