/*==========================================================
                Global Css
===========================================================*/

/* *, *::before, *::after {
    box-sizing: border-box;
} */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "sans-serif", Arial;
    font-size: 1rem;
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #999999;
}

section {
    /* background: #fff; */
    overflow: hidden;
}

.title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    border-bottom: 3px solid #ebbc00;
    display: inline;
    padding: 0.18rem;
    font-weight: bold;
}

.sub-title {
    font-size: 3rem;
    font-weight: 100;
    margin: 2rem 0;
}

.padding-8rem {
    padding: 8rem 0;
}

.owl-prev {}

.owl-prev span, .owl-next span {
    border-radius: 40px;
    color: #dadee6;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #dadee6;
    font-size: 2rem;
    height: 40px;
    line-height: 40px;
    margin: 5px 3px;
    padding: 0;
    width: 40px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.owl-prev span:hover, .owl-next span:hover {
    background-color: #f1c40f;
    color: #34495e;
}

.owl-theme .owl-nav [class*="owl-"], .owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
    outline: none;
}

.custom-btn {
    padding: 0.6rem 3rem;
    border-radius: 30px;
    color: #ffff;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.custom-btn i {
    position: absolute;
    right: 12%;
    top: 36%;
    display: none;
    transition: all 0.6s ease-in-out;
}

.custom-btn-hover:hover {
    padding-right: 3.5rem;
    color: #fff;
    background: #f1c40f;
}

.custom-btn:hover i {
    display: inline-block;
    color: #fff;
}

/*==========================================================
                Custom Css
===========================================================*/

/* header area start */

.header {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.hero-header {}

.home-content {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.content-inner {
    margin: auto;
    text-align: center;
}

.content {
    color: #fff;
}

.content h3 {
    font-size: 1.3rem;
    margin-top: 32px;
    line-height: 2;
}

.content h3 span {
    background: #f1c40f;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

.content:hover h3 span {
    background: #f39c12;
}

.content h1 {
    font-size: 4rem;
    font-weight: bold;
    padding: 0.3rem 0 0;
}

.content p {
    font-size: 1.2rem;
}

.content-btn {
    padding-top: 1.5rem;
}

.content-btn a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: 0.5s all cubic-bezier(.25, .46, .45, .94);
    transition: 0.5s all cubic-bezier(.25, .46, .45, .94);
}

.content-btn a i {
    color: #f1c40f;
    padding: 0 5px;
}

.content-btn a:hover {
    color: #f1c40f;
}

.mouse {}

.mouse-icon {
    width: 25px;
    height: 45px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -12.5px;
    border-radius: 12px;
}

.mouse-icon::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 100%;
    left: 50%;
    top: 10px;
    margin-left: -2.5px;
    /* -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-animation-name: rotateplane;
    -webkit-animation-duration: 2s;
    animation-name: rotateplane;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; */
}

/* find-project area Start */

.find-project {
    padding: 8rem 0;
}

.find-project-title {}

.find-project-title h4 {
    font-size: 1rem;
    border-bottom: 3px solid #e74c3c;
    display: inline;
    padding: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.find-project-title h2 {
    padding: 2rem;
    font-weight: 100;
}

.find-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    padding: 1rem 0;
}

.find-card-icon {}

.find-card-icon i {
    padding: 0 10px;
    font-size: 3rem;
    color: #e74c3c;
    width: 85px;
}

.find-card-body {}

.find-card-body h3 {
    font-size: 1.5rem;
}

.find-card-body p {
    font-size: 1rem;
    color: #989d9d;
    font-weight: 300;
}

/* about area start */

.about {
    background: #ecf0f8;
}

.about-title {}

.about-title h5 {}

.about-title h3 {
    /*! margin: 1rem 0 4rem; */
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.about-box {}

.about-card {
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
}

.about-card:hover .about-card-title i {
    color: #f1c40f;
}

.about-card-img {
    min-height: 260px;
}

.about-card-img img {
    border-radius: 5px 5px 0 0;
}

.about-card-title {
    padding-top: 2rem;
}

.about-card-title i {
    padding: 0 .5rem 0 0;
    font-size: 1.5rem;
    color: #2c3e50;
}

.about-card-title h3 {
    display: inline;
    font-size: 1.39rem;
}

.about-card-content {}

.about-card-content p {
    color: #989d9d;
}

.about-card-content a {
    color: #f1c40f;
    text-decoration: none;
    -webkit-transition: 0.5s all linear;
    transition: 0.5s all linear;
}

.about-card-content a:hover {
    color: #2c3e50;
}

/* about area start */

.services {
    padding: 8rem 0;
    background: #f6fdff;
}

.services-title {}

.services-title h5 {}

.services-title h3 {}

.services-box {}

.services-card {
    cursor: pointer;
}

.services-card:hover h4 {
    color: #f1c40f;
}

.services-card-icon {}

.services-card-icon img {
    width: 75px;
    margin: 1.5rem 0;
}

.services-card-title {}

.services-card-title h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.services-card-content p {}

.services-card-content ul {
    list-style: none;
    font-weight: 400;
    padding: 0;
    margin: 1.9rem 0;
}

.services-card-content ul li {}

.services-card-button {}

.services-card-button a i {}

.services-card-button a {
    background: #090c1e;
}

/* example area start */

.example {}

.example-img img {}

.example-img {}

.example-title {
    padding: 0 3rem;
}

.example-title h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.example-title p {
    font-size: 1.2rem;
    font-weight: 100;
}

.example-title a {
    background: #34495e;
}

.example-title a {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
    padding: 1rem 3rem;
    text-decoration: none;
}

.btn-grad {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-grad:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #d7cea9;
    padding: 1rem 4rem;
}

.example-02 {}

/* our-work area start */

.our-work {
    background: #ecf0f8;
}

.our-work-title {}

.our-work-title h4 {}

.our-work-title h2 {}

.our-work-slider {}

.our-work-card {
    /* width: 350px; */
    background: #fff;
}

.our-work-card-img {}

.our-work-card-img img {}

.our-work-card-content {
    padding: 2rem;
}

.our-work-card-content a {
    text-decoration: none;
    color: #2a2a2a;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.our-work-card-content a:hover {
    color: #f1c40f;
}

.our-work-card-content p {}

.our-work-card-footer {
    padding: 1rem;
    border-top: 1px solid #e1dbdb;
}

.our-work-card-footer i {}

.our-work-card-footer a {
    color: #f1c40f;
    text-decoration: none;
    font-weight: 400;
}

.price {
    background: #ecf0f8;
    padding: 2px;
    border-radius: 4px;
    color: #b3b7bf;
}

.tag-line {}

/* banner area start */

.banner {
    background: url(../img/banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.banner-title {
    position: relative;
    color: #fff;
    width: 700px;
    margin: auto;
}

.banner-title h2 {
    line-height: 4rem;
}

.banner-title p {}

.play-btn {
    color: #fff;
    text-decoration: none;
}

.play-btn i {
    background: #fff;
    padding: 1rem;
    width: 40px;
    border-radius: 50%;
    color: rgb(184, 182, 182);
    margin-right: 10px;
    font-size: 0.6rem;
}

.play-btn h6 {}

/* big-banner area start */

.big-banner {
    background: url(../img/big-banner-bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding-bottom: 20rem;
}

#hero-card {
    position: relative;
    margin-top: -220px;
    z-index: 5;
}

.hero-card {
    background: #c0392b;
    background: -webkit-rgba(0, 0, 0, 0) linear-gradient(to right, #f32e59, #6338dd) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #f32e59, #6338dd) repeat scroll 0 0;
    border-radius: 6px;
    padding: 6rem;
    color: #fff;
}

.hero-card h1 {
    font-weight: 600;
    padding: 0;
    margin: 0 0 1.1rem;
}

.hero-card p {}

.hero-card a {
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem 1.5rem;
    transition: all 0.8s ease-in-out;
}

.hero-card a:hover {
    background: #f1c40f;
    border-color: transparent;
}

.big-banner-title {
    position: relative;
    color: #fff;
    width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

.big-banner-title h2 {}

.big-banner-title p {}

.big-banner-title a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
}

.big-banner-title a:hover {
    color: #f1c40f;
}

.big-banner-title a i {
    background: #642B73;
    background: -webkit-linear-gradient(to right, #C6426E, #B116DA);
    background: linear-gradient(to right, #C6426E, #B116DA);
    padding: 1rem;
    border-radius: 50%;
}

.big-banner-title a h3 {}

.big-banner-content {}

.big-banner-box {
    position: relative;
    cursor: pointer;
}

.big-banner-box i {
    position: absolute;
    top: 45%;
    left: 45%;
    color: #fff;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

.big-banner-box:hover i {
    display: none;
}

.big-banner-box:hover .overlay {
    display: none;
}

.big-banner-box img {
    border-radius: 10px;
}

/* testimonial area start */

.testimonial {}

.testimonial-title {}

.testimonial-title h5 {}

.testimonial-title h3 {
    padding: 20px;
}

.testimonial-slider {
    padding: 2rem;
    border: 2px solid aliceblue;
}

.testimonial-slider img {
    width: 120px !important;
    margin-right: 2rem;
    display: inline-block !important;
}

.testimonial-slider h3 {
    font-size: 1.5rem;
    padding: 10px;
}

.testimonial-slider a {
    text-decoration: none;
    color: #999999;
    font-size: 12px;
}

.testimonial-slider i {
    color: #f1c40f;
}

.blockquote {
    display: block;
    color: #999999;
    font-weight: 400;
}

.blockquote::before {
    content: "\f10d";
    margin-right: 10px;
    color: #dadee6;
    display: inline-block;
    font-family: 'FontAwesome';
}

.blockquote::after {
    content: "\f10e";
    margin-right: 10px;
    color: #dadee6;
    display: inline-block;
    font-family: 'FontAwesome';
}

/* client area start */

.client {
    border-top: 2px solid #f6f6f6;
}

.client-logo {}

.client-logo img {
    opacity: 0.4;
    transition: all 0.s ease-out;
    cursor: pointer;
}

.client-logo img:hover {
    opacity: 1;
}

/* footer  area start */

.footer {
    background: #090c1e;
    color: #fff;
}

.widget {}

.widget a {}

.widget-img {}

.widget-img img {}

.widget-title {}

.widget-title h4 {}

.widget-about {
    color: #bdc3c7;
}

.footer-nav {}

.footer-nav nav {}

.footer-nav nav ul {}

.footer-nav nav ul li {
    display: inline;
}

.footer-nav nav ul li a {
    font-size: 1.2rem;
    line-height: 5;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-nav nav ul li a::after {
    content: "/";
    padding-left: 1rem;
    color: #878181;
}

.footer-nav nav ul li a:hover {
    color: #f1c40f;
}

.widget-address {}

.address-title {}

.address-title i {}

.address-title h4 {}

.address-dec {}

.footer-social {
    /*! display: block; */
    /*! position: relative; */
    margin: 4rem 0;
    border-top: 1px solid #414141;
    padding-top: 4rem;
}

.footer-social a {
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    /*! width: 50px; */
    background: #34495e;
    margin: 0.5rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.footer-social a i {
    width: 20px;
}

.footer-social a:hover {
    color: #f1c40f;
    background: #fff;
}

.footer-cradit {}

.footer-cradit h4 {
    font-size: 0.8rem;
}

.footer-cradit h4 a {
    text-decoration: none;
    font-style: italic;
    color: #34495e;
    transition: all 0.3s ease-in-out;
}

.footer-cradit h4 a:hover {
    color: #f1c40f;
}